*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #D0C0A1;
}

body {
  margin: 0;
  margin-bottom: 3%;
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main";
}

header {
  padding-top:10px ;
  grid-area: header;
  position: sticky;
  top:0;  
  background-color:#D0C0A1;
}

.page-title {
  color: #302d44;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: center;
  text-indent: larger;
}
span {
  color: #dd460f;
}
main {
  grid-area: main;
  padding: 1% 6% 2% 5%;
  display: grid;
  grid-template-areas:
    "section1 section1"
    "section2 section3";
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.section-container {
  padding: 0 3% 2% 2%;
}

.section-title {
  text-align: center;
  color: #00214d;
  font-size: larger;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text-content {
  margin: 1% 0 1% 1%;
  padding: 0;
  word-wrap: break-word;
  hyphens: auto;
  color: #1b2d45;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.highlight {
  border: solid #00214d;
  border-radius: 3px;
  padding: 0px 2px;
  margin: 0px 2px;
  transition: background-color .5s ease-in;
}

.highlight:hover {
  background-color: #FABD2F;
  cursor: pointer;
  transition: background-color ease;
}

#bio {
  grid-area: section1;
}

#note {
  grid-area: section3;
  background-color: #ff5470;

  .section-title {
    color: #fffffe;
  }

  .text-content {
    color: #fffffe;
    text-align: start;
    padding-left: 5%;
  }
}

#course {
  grid-area: section3;

  .highlight {
    margin-left: 3px;
    margin-right: 0px;
  }
}

img {
  width: 50%;
  height: 100%;
  position: fixed;
  top:200px;
  bottom: 0;
  object-fit: contain;
}

@media (max-width: 540px),
(orientation: portrait) {

}